<div class="row">
    <div class="col mt-3 text-center">
        <h2>Conoce más acerca de nuestra página</h2>
    </div>
    </div>
<div class="row mb-4">
    <div class="col text-center mt-3 mb-3">
        <h5>
            Hola soy Anayeli Cedeño! estudiante de la Facultad de Ciencias Informáticas de la ULEAM, te invito a conocer más sobre esta página y su finalidad.
        </h5>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12 text-center">
        <div class="card bg-light mb-3 contor" >
            <div class="card-header border-primary">¿En qué consiste?</div>
            <div class="card-body">
                {{!-- <h5 class="card-title">Light card title</h5> --}}
                <p class="card-text">En esta página usted podrá donar partes y piezas de computadoras en buen estado para de esta manera armar nuevas. Además puede realizar consultas de las partes y piezas que ya han sido donadas.</p>
            </div>
        </div>
    </div>
   
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="card bg-light mb-3" >
            <img src="./assets/d.jpg" class="card-img-top" style="height: 200px;" alt="Imagen">
            {{!-- <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Light card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div> --}}
        </div>
    </div>
</div>
<div class="row mb-4">
   
    <div class="col-md-7 mx-auto text-center" >
        <div class="card bg-light mb-3 contor" >
            <div class="card-header border-primary">¡DATO IMPORTANTE!</div>
            <div class="card-body">
                {{!-- <h5 class="card-title">Light card title</h5> --}}
                <p class="card-text">
                    Los actos amables benefician al donante incluso más que al receptor. Mientras los actos de bondad no sean obligatorios o abrumadores, pueden enriquecer al donante y a toda la comunidad.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="card bg-light mb-3 "style="max-width: 18rem;" >
            <img src="./assets/ini.jpg" class="card-img-top" style="height: 200px;" alt="Imagen">
          
            {{!-- <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Light card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div> --}}
        </div>
    </div>
   
    <div class="col-md-8 col-sm-12 col-xs-12 text-center">
        <div class="card bg-light mb-3 contor" >
            <div class="card-header border-primary">Nosotros</div>
            <div class="card-body">
                {{!-- <h5 class="card-title">Light card title</h5> --}}
                <p class="card-text">
                    ¡La importancia de donar radica en que no solo nos deshacemos de lo que no utilizamos, sino que de esta manera brindamos la posibilidad a más personas de acceder a la tecnología que de otra forma no poseen!
                </p>
            </div>
        </div>
    </div>
</div>