{{!-- Cuerpo --}}
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Editar el producto</h3>
        </div>
        <div class="card-body">
            <form action="/notes/edit-note/{{note._id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT" >
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Nombre del producto" autofocus value="{{note.title}}">
                </div>
                <div class="form-group">
                    <input type="text" name="url" class="form-control" placeholder="Url de la img" autofocus value="{{note.url}}">
                </div>
                <div class="form-group">
                    <textarea type="text" name="description" class="form-control" placeholder="Descripción">{{note.description}}
                    </textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-info btn-block" >
                        Editar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>