{{!-- Alertas --}}



{{!-- Cuerpo --}}
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Producto</h3>
        </div>
        <div class="card-body">
            <form action="/notes/new-note" method="POST">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Nombre del producto" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="url" class="form-control" placeholder="url de la imagen" autofocus>
                </div>
                <div class="form-group">
                    <textarea type="text" name="description" class="form-control" placeholder="descripción"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-info btn-block" >
                        Agregar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>