<link rel="stylesheet" href="/css/signin.css">


<div class="row fila">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mx-auto">
        <div class="card  text-center">
            
                <img src="/assets/sign.svg" alt="" class="imgSign ">
                <h3 class="bienvenido">Bienvenido!</h3>
                <h6 class="txt">Usa tu email y clave para iniciar sesión</h6>

            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" >
                    </div>
                    <div class="recuperar">
                        <a href="/">
                            Olvidaste tu contraseña?
                        </a>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-info btn-block sign">
                            Ingresar
                        </button>
                    </div>
                </form>

                <p class="registrar">
                    No tienes una cuenta? <a href="/users/signup">Regístrate</a>
                </p>

                <hr class="linea">
                    {{!-- <div class="form-group">
                        <a href="/google" type="submit" class="btn btn-outline-danger btn-block google">
                            <i class="fa fa-google"></i>
                            Iniciar sesión con Google
                        </a>
                    </div> --}}
            </div>

        </div>
    </div>
</div>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="582658792983-u8oj769phitpdrcemsctbamsgapr8ho0.apps.googleusercontent.com">

